.navbar-brand {
    font-family: 'Solitreo', cursive;
    font-size: 30px;
}
.cusWH {
    width: 100vw;
    height: 80vh;
}
.cus-bg {
    background-color: #A6B1E1;
    width: 400px;
    border-radius: 2px;
    -webkit-box-shadow: -7px -2px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px -2px 17px 0px rgba(0,0,0,0.75);
    box-shadow: -7px -2px 17px 0px rgba(0,0,0,0.75);

}

.profile-pic {
    background-color: #DCD6F7;
    border-radius: 100%;
    margin-top: 30px;
}
h1 {
    margin-top: 40px;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 500;
}
.divider {
    width: 30%;
}