html {
  font-family: sans-serif;
}
h1.title {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: 50px;
}
.title-container {
  padding: 10px;
}
.container {
  justify-content: center;
  display: flex;
}
.navbar-brand {
  font-family: "Corinthia", cursive;
  font-size: 40px;
}
.navbar-collapse {
  display: flex;
  text-align: right;
  justify-content: right;
}