body {
    font-family: 'Times New Roman', Times, serif;
    max-width: 480px;
    margin: 0 auto;
    border: solid 2px;
    margin-top: 50px;
    box-shadow: 5px 10px #888888;
    cursor: pointer;
}
.container {
    padding: 20px;
}

/* Header */
#header {
    margin-bottom: 0;   
}
p.class {
    float: left; 
    width: 33%; 
    text-align: left;
}
p.text-editorial {
    float: left; 
    width: 33%; 
    text-align: center;
    font-weight: 800;
}
p.subject {
    float: left; 
    width: 34%; 
    text-align: right;
}
p.divider {
    color: rgba(255, 255, 255, 0);
    margin: 0;
}

/*Divider*/
div.divider{
    border: solid black 1px;
    margin-top: -30px;
}
div.divider-2 {
    border: solid black 1px;
    margin-top: 20px;
}


/*Title*/
div.title {
    text-align: center;
    margin: 0;
}
h2.title {
    font-size: 20px;
    text-transform: uppercase;
    margin:10px auto auto auto;
    width: 350px;
}

/*Text Content*/
div.text-content {
    margin:10px auto auto auto;
    width: 350px;
    padding: 10px;
}
p.text-content {
    text-align: justify;
    font-size: 16px;
}


